.s-quiz {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 18px;
  background-color: var(--dark);
  color: white;
  min-height: 800px;
  z-index: 1;

  &__slide {
    transition: opacity 0.3s ease;

    &._line {
      &::before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        width: 325px;
        left: 27%;
        background: linear-gradient(
          180deg,
          #f5f5f5 0%,
          #fff 51.31%,
          #b2b2b2 100%
        );
        z-index: -1;

        @include laptop-middle {
          left: 200px;
          width: 200px;
        }
        @include laptop-min {
          display: none;
        }
      }
    }
  }
  &__head {
    @include flex-between;
    gap: 30px;
    margin-bottom: 110px;
    @include laptop-middle {
      margin-bottom: 80px;
    }
    @include laptop-min {
      margin-bottom: 60px;
    }
    @include tablet {
      margin-bottom: 30px;
    }
  }
  &__logo {
    display: block;
    width: 165px;

    @include tablet {
      width: 130px;
    }

    img {
      width: 100%;
    }
  }
  &__tel {
    display: flex;
    align-items: center;
    gap: 15px;

    font-weight: 700;
    font-size: 32px;

    transition: opacity 0.2s ease;
    @include hover {
      opacity: 0.7;
    }
    @include laptop-min {
      font-size: 24px;
    }
    @include tablet {
      font-size: 20px;
    }
    @include tablet-min {
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 4px;
      background-color: white;
      color: black;
    }

    svg {
      width: 30px;
      height: 30px;
      color: #bababa;
      @include tablet {
        width: 25px;
        height: 25px;
      }
      @include tablet-min {
        width: 20px;
        height: 20px;
        color: inherit;
      }
    }
    span {
      @include tablet-min {
        display: none;
      }
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__img {
    display: block;
    align-self: start;
    width: 605px;
    flex-shrink: 0;
    @include laptop-middle {
      width: 515px;
    }
    @include laptop-min {
      width: 350px;
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    flex: 0 1 505px;
    @include tablet {
      flex: none;
      width: 100%;
    }
  }
  &__title {
    font-size: 32px;
    line-height: 156%;
    text-transform: uppercase;
    max-width: 400px;
    margin: 0px 0px 40px 0px;
    @include laptop-min {
      font-size: 26px;
      margin-bottom: 30px;
    }
    @include tablet {
      max-width: none;
      font-size: 24px;
    }
  }
  &__content {
    font-size: 15px;
    line-height: 167%;
    color: var(--gray);
    margin: 0px 0px 50px 0px;
  }
  &__btn-get {
    margin-bottom: 20px;
    padding: 14px 37px !important;
  }
  &__mail {
    display: block;
    font-size: 15px;
    line-height: 167%;
    text-decoration: underline;
    text-underline-offset: 2px;
    opacity: 0.5;
    margin-top: auto;

    transition: opacity 0.2s ease;
    @include hover {
      opacity: 1;
    }
  }
  &__slide-title {
    margin: 0px 0px 80px 0px;
    @include laptop-min {
      margin-bottom: 50px;
    }
    @include tablet {
      margin-bottom: 30px;
    }
  }
  &__variants-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 65px;
    row-gap: 30px;
    @include laptop-middle {
      gap: 30px;
    }
    @include laptop-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @include mobile {
      // grid-template-columns: 1fr;
    }
  }
  &__input-gallery-radio {
    display: none;
    &:checked + label {
      .s-quiz__var-img {
        filter: brightness(50%);
      }
    }
  }
  &__var-gallery {
    display: block;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    line-height: 148%;
  }
  &__var-img {
    width: 100%;
    border-radius: 6px;
    display: block;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 15px;

    transition: filter 0.2s ease;
  }
  &__variants {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @include laptop-min {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
  &__input-radio {
    display: none;

    &:checked + label {
      &::before {
        background-color: var(--dark);
        border: 5px solid white;
      }
    }
  }
  &__label-radio {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 75px;
    border: 1px solid white;
    font-size: 15px;
    transition: opacity 0.2s ease;
    @include hover {
      opacity: 0.7;
    }

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    min-height: 100%;
    flex: 1;

    transition: opacity .3s ease;
  }
  &__form-nav {
    transition: opacity 0.3s ease;
    @include flex-between;
    gap: 30px;

    @include tablet {
      gap: 20px;
      flex-wrap: wrap;
    }
  }
  &__form-nav-btn {
    width: 225px;
    max-width: 100%;
    padding-left: 25px !important;
    padding-right: 25px !important;

    @include tablet {
      width: auto;
      flex: 1;
    }
    @include mobile {
      width: 100%;
      flex: none;
    }

    svg {
      width: 10px;
      height: 10px;
    }
  }
  &__pagination {
    @include flex-center;
    gap: 10px;
    @include tablet {
      display: none;
    }

    div {
      cursor: pointer;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: currentColor;

      transition:
        opacity 0.2s ease,
        transform 0.2s ease;
      @include hover {
        opacity: 0.7;
      }

      &._active {
        transform: scale(1.45);
      }
    }
  }
  &__end {
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease;
  }
  &__form-gallery {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 575px;
    left: 10%;

    z-index: -1;

    @include laptop {
      width: 400px;
      left: 5%;
    }
    @include laptop-min {
      left: auto;
      right: 0;
      width: 300px;
    }
    @include tablet {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__form-body {
    max-width: 500px;
    margin-left: auto;
    @include laptop-min {
      margin-left: 0;
    }
    @include tablet {
      max-width: none;
    }
  }
  &__form-logo {
    display: block;
    width: 165px;
    margin-bottom: 70px;

    img {
      display: block;
      width: 100%;
    }
    @include tablet {
      margin-bottom: 30px;
    }
  }
  &__form-content {
    font-weight: 500;
    font-size: 32px;
    line-height: 156%;
    margin: 0px 0px 50px 0px;
    @include laptop-min {
      font-size: 24px;
      max-width: 400px;
      margin-bottom: 30px;
    }
    @include tablet {
      max-width: none;
      font-size: 20px;
      line-height: 130%;
    }
  }
  &__form-main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 370px;
    @include tablet {
      max-width: none;
    }
  }
  &__form-submit {
    width: 100%;
  }
  &__docs {
  }
  &__docs-title {
    margin-bottom: 60px;
    @include laptop-min {
      margin-bottom: 40px;
    }
    @include tablet {
      margin-bottom: 30px;
    }
  }
  &__docs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @include laptop-min {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet {
      grid-template-columns: 1fr;
    }
  }
  &__docs-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 19px 25px;
    border: 1px solid white;
    border-radius: 75px;

    font-size: 15px;

    transition: opacity .2s ease;

    @include hover {
      opacity: 0.7;
    }

    svg {
      display: block;
      margin-left: auto;
      width: 25px;
      height: 25px;
    }
  }
}
