<section class="sect-m s-gallery" id="s-gallery">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Обзор нашей лаборатории</h2>
      <div class="slider-nav">
        <div class="slider-btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
          </svg>
        </div>
        <div class="slider-btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-gallery__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-gallery__slide _full">
          <a
            href="@img/gallery.jpg"
            data-fancybox="gallery"
            class="s-gallery__slide-item"
          >
            <img src="@img/gallery.jpg" alt="image" />
          </a>
        </div>
        <div class="swiper-slide s-gallery__slide">
          <a
            href="@img/gallery.jpg"
            data-fancybox="gallery"
            class="s-gallery__slide-item"
          >
            <img src="@img/gallery.jpg" alt="image" />
          </a>
          <a
            href="@img/gallery.jpg"
            data-fancybox="gallery"
            class="s-gallery__slide-item"
          >
            <img src="@img/gallery.jpg" alt="image" />
          </a>
        </div>
        <div class="swiper-slide s-gallery__slide">
          <a
            href="@img/gallery.jpg"
            data-fancybox="gallery"
            class="s-gallery__slide-item"
          >
            <img src="@img/gallery.jpg" alt="image" />
          </a>
          <a
            href="@img/gallery.jpg"
            data-fancybox="gallery"
            class="s-gallery__slide-item"
          >
            <img src="@img/gallery.jpg" alt="image" />
          </a>
        </div>
        <div class="swiper-slide s-gallery__slide">
          <a
            href="@img/gallery.jpg"
            data-fancybox="gallery"
            class="s-gallery__slide-item"
          >
            <img src="@img/gallery.jpg" alt="image" />
          </a>
          <a
            href="@img/gallery.jpg"
            data-fancybox="gallery"
            class="s-gallery__slide-item"
          >
            <img src="@img/gallery.jpg" alt="image" />
          </a>
        </div>
        <div class="swiper-slide s-gallery__slide">
          <a
            href="@img/gallery.jpg"
            data-fancybox="gallery"
            class="s-gallery__slide-item"
          >
            <img src="@img/gallery.jpg" alt="image" />
          </a>
          <a
            href="@img/gallery.jpg"
            data-fancybox="gallery"
            class="s-gallery__slide-item"
          >
            <img src="@img/gallery.jpg" alt="image" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
