<section class="sect-p s-res _gray">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Результаты лечения</h2>
      <div class="slider-nav">
        <div class="slider-btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
          </svg>
        </div>
        <div class="slider-btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-res__slider">
      <div class="swiper-wrapper">
        <article class="swiper-slide s-res__slide">
          <div class="s-res__slide-gallery">
            <input type="range" value="50" class="s-res__slide-range">
            <div class="s-res__slide-toggle">
              <div class="s-res__slide-toggle-inside"></div>
            </div>
            <img
              src="@img/before.jpg"
              alt="image"
              class="s-res__slide-before"
            />
            <img src="@img/after.jpg" alt="image" class="s-res__slide-after" />
          </div>
          <div class="s-res__slide-body">
            <h5 class="s-res__slide-title">До и после All-On-4</h5>
            <p class="s-res__slide-content">
              Подробное описание проведенной процедуры...
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
